In [1]:
a=10

In [3]:
a = 'c'

In [4]:
type(a)

str

In [5]:
int('123')

123

In [6]:
print("Hello World")

Hello World

In [7]:
print(123)

123

In [9]:
age=22
print("My age is:", age)

My age is: 22

In [12]:
# f string
print(f"My age is: {age}")

My age is: 22

In [13]:
# format()
name = "Ritesh"
age = 22
print("My name is {} and age is {}".format(name, age))

My name is Ritesh and age is 22

In [14]:
print("My name is {} and age is {}".format(age, name))

My name is 22 and age is Ritesh

In [16]:
# placeholder
print("My name is {firstname} and age is {firstage}".format(firstage=age, firstname=name))

My name is Ritesh and age is 22

In [26]:
name="Ritesh Kumar"
age = 22
degree = "B.Tech"

## My age is 22 and I have completed: my degree of B.Tech with the name of Ritesh Kumar'''

In [27]:
print("My age is {} and I have completed: my degree {} with the name of {}".format(age, degree, name))

My age is 22 and I have completed: my degree B.Tech with the name of Ritesh Kumar

## Control Flow
### Decision Making Statements
   * It is a kind of making decision during occured situation of program execution and action can be taken according to specified conditions.
   * Structure of decision making evaluate several expression that provide True or False as result.
   * It is up to you to decide which type of action want to take and execute the statements based upon True or False.
   
**These are several topics of decision making which going to be discussed below:**
   1. **if**
   2. **if else**
   3. **if elif else**
   4. **Nested if**
   5. **Single Statement Suites**

In [28]:
## If statements
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [30]:
age=17
if age<18:
    print("You are not eligible to vote")

You are not eligible to vote

In [33]:
name=input("Enter the name")

Enter the nameRitesh Kumar

In [36]:
name

'Ritesh Kumar'

In [37]:
age = int(input("Enter your age"))

Enter your age22

In [38]:
type(age)

int

In [39]:
##Task
## Take a input of age
## check whether age>=18 and age<=45
## display a message you are younf blood

In [41]:
age = int(input("Enter the age:"))
if age>=18 and age<=45:
    print("You are young blood")

Enter the age:22
You are young blood

In [42]:
## if else statement
age = int(input("Enter the age:"))
if age>=18 and age<=45:
    print("You are young blood")
else:
    print("Thank you we will let you know")

Enter the age:56
Thank you we will let you know

In [43]:
## mall - input the product price
## product >1000 rs 20% off
## print the product price
## product<=1000 rs 30% off
## print the product proce after removing the discount

In [44]:
product_price = int(input("Enter the price:"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price:5000
The price of the product is 4000.0

In [46]:
## mall - input the product price
## product >3000 rs 20% off
## print the product price after removing the discount
## product>=2000 rs and <=3000 rs 30% off
## print the product proce after removing the discount
## price==2999 u will get additional gift
## product<=1000 rs and <=2000 rs 40% off
## print the product proce after removing the discount

In [48]:
product_price = int(input("Enter the price:"))
if product_price>3000:
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
          print("Congratulations you get an additional gift")
    print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<=2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("Lets drink tea")

Enter the price:2999
Congratulations you get an additional gift
The price of the product is 2099.2999999999997

In [49]:
## Single statement Suites
val=int(input('Enter the number'))
if(val<=999):print("Value if less than equal to 999")
else:
    print("Go Home")

Enter the number8
Value if less than equal to 999

 ### Loops statements
 
    1. while loop
    2. for loop
    3. nested loop
    4. Loop control(break, continue, pass)

In [51]:
# while loop
joining_age=25
while joining_age<=60:
    joining_age = joining_age+1
    print(joining_age)
else:
    print("Its time to retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Its time to retirement

In [53]:
### Atm machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money bank people")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people

### For Loop

In [54]:
lst = ["Ritesh", 1, 2, 3, 4, "apple", "banana"]

In [55]:
type(lst)

list

In [56]:
lst[0]

'Ritesh'

In [57]:
lst

['Ritesh', 1, 2, 3, 4, 'apple', 'banana']

In [58]:
for i in lst:
    print(i)

Ritesh
1
2
3
4
apple
banana

In [59]:
fruit = 'mango'
for i in fruit:
    print(i)

m
a
n
g
o